.container
  h1.mb-4 Solid Queue Dashboard

  .row.mb-4
    .col-md-3
      .card.text-center
        .card-body
          h3.card-title = @total_jobs
          p.card-text Total Jobs
    .col-md-3
      .card.text-center
        .card-body
          h3.card-title = @pending_count
          p.card-text Pending
    .col-md-3
      .card.text-center
        .card-body
          h3.card-title = @processed_count
          p.card-text Processed
    .col-md-3
      .card.text-center
        .card-body
          h3.card-title = @failed_count
          p.card-text Failed

  .row.mb-4
    .col-12
      h3 Queue Statistics
      .row
        - @queue_stats.each do |queue_name, count|
          .col-md-3.mb-2
            span.badge.bg-primary = "#{queue_name}: #{count}"

  .row
    .col-md-6
      h3.mb-3 Recent Failed Jobs
      - if @failed_jobs.any?
        .table-responsive
          table.table.table-sm
            thead
              tr
                th ID
                th Queue
                th Class
                th Failed
                th Actions
            tbody
              - @failed_jobs.each do |job|
                tr
                  td = link_to job.id, solid_queue_dashboard_job_path(job)
                  td = job.queue_name
                  td = job.class_name
                  td = job.failed_at&.strftime('%Y-%m-%d %H:%M:%S')
                  td
                    = link_to 'Retry', retry_solid_queue_dashboard_job_path(job), method: :post, class: 'btn btn-sm btn-warning'
                    = link_to 'Delete', delete_solid_queue_dashboard_job_path(job), method: :post, class: 'btn btn-sm btn-danger ms-1'
      - else
        p.text-muted No failed jobs

    .col-md-6
      h3.mb-3 Pending Jobs
      - if @pending_jobs.any?
        .table-responsive
          table.table.table-sm
            thead
              tr
                th ID
                th Queue
                th Class
                th Created
                th Actions
            tbody
              - @pending_jobs.each do |job|
                tr
                  td = link_to job.id, solid_queue_dashboard_job_path(job)
                  td = job.queue_name
                  td = job.class_name
                  td = job.created_at.strftime('%Y-%m-%d %H:%M:%S')
                  td
                    = link_to 'View', solid_queue_dashboard_job_path(job), class: 'btn btn-sm btn-info'
                    = link_to 'Delete', delete_solid_queue_dashboard_job_path(job), method: :post, class: 'btn btn-sm btn-danger ms-1'
      - else
        p.text-muted No pending jobs

  .row.mt-4
    .col-12
      h3.mb-3 Recent Processed Jobs
      - if @processed_jobs.any?
        .table-responsive
          table.table.table-sm
            thead
              tr
                th ID
                th Queue
                th Class
                th Created
                th Finished
                th Duration
            tbody
              - @processed_jobs.each do |job|
                tr
                  td = link_to job.id, solid_queue_dashboard_job_path(job)
                  td = job.queue_name
                  td = job.class_name
                  td = job.created_at.strftime('%Y-%m-%d %H:%M:%S')
                  td = job.finished_at&.strftime('%Y-%m-%d %H:%M:%S')
                  td
                    - if job.finished_at && job.created_at
                      = distance_of_time_in_words(job.created_at, job.finished_at)
      - else
        p.text-muted No processed jobs