doctype html
html
  head
    title Без Шелухи
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1"
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"
    script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"
  body
    header
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        .container
          = link_to 'Без Шелухи', '/', class: 'navbar-brand'
          .navbar-nav
            = link_to 'Solid Queue Dashboard', solid_queue_dashboard_path, class: 'nav-link'

    main
      - if flash.any?
        .container.mt-3
          - flash.each do |type, message|
            .alert class="alert-#{type == 'notice' ? 'success' : 'danger'} alert-dismissible fade show" role="alert"
              = message
              button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
      = yield

    footer
      p &copy; 2024 Без Шелухи - Telegram Bot for Content Filtering
